.leaderboard {
  margin-top: 20px;
  text-align: left;
  margin-bottom: 112px;
  max-width: 420px;
}

.leaderboard h2 {
  font-size: 24px;
}

.leaderboard ul {
  list-style: none;
  padding: 0;
}

.leaderboard li {
  font-size: 18px;
  margin: 5px 0;
}
